body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #94897d;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color:#242321;
    color: white;
}
.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 100%;
}
.login-btn {
    background-color: #242321;
    color: white;
}
.register-btn {
    background-color:#242321	;
    color: white;

}